In [14]:
import pandas as pd
import numpy as np

In [15]:
data=pd.read_csv('INR=X.csv')

In [16]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [17]:
mean_volume = data['Open'].mean()
data['Open'].fillna(mean_volume, inplace=True)

In [18]:
mean_volume = data['Open'].mean()
data['Open'].fillna(mean_volume, inplace=True)

In [19]:
mean_volume = data['High'].mean()
data['High'].fillna(mean_volume, inplace=True)

In [20]:
mean_volume = data['Low'].mean()
data['Low'].fillna(mean_volume, inplace=True)

In [21]:
mean_volume = data['Close'].mean()
data['Close'].fillna(mean_volume, inplace=True)

In [22]:
mean_volume = data['Adj Close'].mean()
data['Adj Close'].fillna(mean_volume, inplace=True)

In [23]:
mean_volume = data['Volume'].mean()
data['Volume'].fillna(mean_volume, inplace=True)

In [24]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-19,71.376503,71.610001,71.239998,71.699997,71.699997,0.0
1,2019-02-20,71.305000,71.330002,70.931999,71.599998,71.599998,0.0
2,2019-02-21,71.049004,71.233002,70.930000,71.300003,71.300003,0.0
3,2019-02-22,71.184998,71.230003,71.019997,71.184998,71.184998,0.0
4,2019-02-25,71.027496,71.150002,70.814903,71.030998,71.030998,0.0
...,...,...,...,...,...,...,...
1300,2024-02-13,82.990196,83.111397,82.961700,82.990196,82.990196,0.0
1301,2024-02-14,83.074600,83.115997,83.013000,83.074600,83.074600,0.0
1302,2024-02-15,83.043098,83.050697,82.962799,83.043098,83.043098,0.0
1303,2024-02-16,83.009598,83.052299,82.972801,83.009598,83.009598,0.0
1304,2024-02-18,82.992996,82.992996,82.992996,82.992996,82.992996,0.0

In [25]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [26]:
data.to_csv('inrx.csv', index=False, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])